
@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #efefef;
}

.container{
    /* border: 2px red solid; */
    margin: 50px auto;
    width: 80%;
    border-radius: 1.5rem;
   box-shadow: 10px 10px 50px black ;

    
   
}

.iconbar{
/* background-color: blueviolet; */
display: flex;
justify-content: space-between;
padding: 10px 50px;
border-bottom: 2px solid #AEA08D ;

}
.logo{
    width: 50px;
    height: 50px;
    border-radius: 15px;
    box-shadow: 10px 10px 50px black;
    margin: 1rem;
}

.input-part{
/* background-color: burlywood; */
display: flex;
align-items: center;
}
.input-part select{
   /* border: 2px solid red; */
   width:188px ;
   height: 40px ;
   border-radius: 5px;
   background-color: #d9d9d9;
   font-family:'Bellota', system-ui;
}
.search-input{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 40px;
    background-color: #d9d9d9;
    border-radius: 5px;
    margin-left: 1rem;
    padding: .5rem;
}

.search-input input{
    border: none;
    background-color: initial;
    font-size: 1rem;
    
}

.support{
    /* border: 2px solid red; */
   text-align: right;
   margin-left:  1rem;

}

.support .support-number{
font-size: 2em;
}

.support .support-tex{
font-size: 0.8rem;
}

.icons{
    margin-right: 2rem;
}

.icons img{
    padding: 10px;
}

.navbar{
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    padding: 10px 50px;
    margin-left: 3rem;
}



.button{
    padding: 1rem;
    height: 40px;
    font-size: 1.3rem;
    background-color: #d9d9d9;
    gap: 1rem;
    font-style: italic;
display: flex;
align-items: center;
}

.nav{
    font-size: 1.3rempx;
   
}

li{
   display: inline-block; 
   margin-left: 1rem;
}

.header{
display: flex;
align-items: center;
justify-content: space-around;
flex-wrap: wrap;
background-image: url(./image/stock.jpg);
padding: 1rem 5rem;
margin-top: 1rem;
gap: 1rem;
}

.essential{
    
    background-color: #d5dee5;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
    
}
.essential-text{
    /* border: 2px solid red; */
    padding: 20px ;
    font-style: italic;
    letter-spacing: 0.3px;
  display: flex;
  flex-wrap: wrap;
}

.lightining{
   
    background-color: #FFC868;
    height: 300px;
    width: 400px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
}
.lightining img{
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: 0;
}
.light{
    /* border: 2px solid red; */
    width: 80%;
    float: right;
    margin-top: 20px;
    font-style: italic;
    padding: 2rem;
}

.categorySection{
background-color: #AEA08D;
}

.cathegoryPart{
padding: 2rem;
font-size: 1.5rem;
}
.cathegories{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
.cathegory{
    width: 20rem;
    height: 20rem;
    margin: 1rem;
    background-color: #eeecec;
    padding: 1rem 2px 1rem 1rem;
    border-radius: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 5px 5px 10px black;
}
.cathegory img{
    width: 100%;
    height: 100%;
    padding: 1rem 10px 1rem 1rem;
    border-radius: 20px;
    object-fit: cover;
}

.productSection{
background-color: #eeecec;
}
.product-part{
padding: 2rem ;
font-size: 1.5rem;
}
.products{
/* border: solid red 2px; */
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 1rem;
}
.product{
width: 20rem;
height: 20rem;
background-color: #d9d9d9;
margin: 1rem;
text-align: center;
border-radius: 20px;
overflow: hidden;
box-shadow: 5px 5px 20px black;
}
.product img{
width: 100%;
height: 90%;
border-radius: 20px;
object-fit: cover;
}

.contact{
background-color: #AEA08D;
display: flex;
padding: 2rem;
justify-content: center;
gap: 1rem;
align-items: center;
flex-wrap: wrap;
}
.expert{
width: 50%;
padding: 1rem;
background-color: inherit;
}

.lookforexpert{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    line-height: 1.5rem;
}
span{
    color: orangered;
}

.leaveInfo{
    margin-top:   1rem;
    line-height: 1.5rem;
}


.formsection{
width: 40%;
font-size: 1.5rem;
background-color: inherit;
}

.formelement{
margin: 1.5rem 1rem;
}
.formelement input{
width: 100%;
border: none;
background-color: inherit;
padding: 0.5rem 0;
border-bottom: 1px solid black;

}

.submit{
    padding: 1rem;
    border-radius: 5px;
    width: 13rem;
    height: 40px;
    font-style: italic;
    margin-left:1rem ;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

}
.submit:hover{
    color: blueviolet;
}

.copyright{
    display: flex;
    justify-content: space-between;
    /* border: solid red 2px; */
    padding: 2rem;
    align-items: center;
}

.policy{
    display: flex;
   gap: 1rem;

}

.policy a{
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    color: inherit;
}